@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Informação";
}

<div class="text-center">
    <label>Do Português: Ola Asp.NET</label>
    <br /><br />
    <label>Do Inglês: Hello Asp.NET</label>
    <br /><br />
    <label>Do Italiano: Oila Asp.NET</label>
    <br /><br />
    <label>Do Alemão: Hallo Asp.NET</label>
    <br /><br />
    <label>Do Russo: привет сетьасп</label>
    <br /><br />
    <label>Do Japonês: こんにちは ASP ネット</label>
    <br /><br />
    <label>Do Árabe: مرحبا شبكة آسيا والمحيط الهادئ</label>
    <br /><br />
    <label>Do Latin: Salve aspidis rete</label>
    <br /><br />
    <label>E por último: Bonjour Asp.NET: Francês</label>
    <br /><br />
</div>    

